.leftGrid {
  background-color: #eee;
  //   padding: 32px 40px;
}
.rightGrid {
  padding: 32px 40px;
  h3 {
    margin: 0 0 4px 0;
  }
}
.intro {
  background-image: url(https://docs.servicenow.com/static/custom/intro.jpg?etag=mG804l6u);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 53px 16px 52px 40px;
}
.introTitle {
  color: #fff;
  font-weight: 400;
  max-width: 640px;
  line-height: 1.3;
}
.cardSection {
  padding: 32px 40px;
}
.cardContent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.gridTitle {
  background-color: #fff;
  padding: 28px 24px;
  box-shadow: none !important;
}
.buttonContainer {
  text-align: right;
  padding: 32px 0;
}
.rightGridItem {
  background-color: #eee !important;
  padding: 12px;
  p {
    margin: 0;
  }
  span {
    font-size: 12px;
    color: #376d87;
  }
}
.rightGridContainer {
  padding: 12px 0;
}
.row .col {
  h3 {
    margin-top: 12px;
  }
  .listItem {
    padding: 8px;
    p {
      margin: 0;
      color: #376d87;
    }
    span {
      font-size: 12px;
      color: #888;
    }
  }
}
